<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <!-- Customized bindings are listed below. All bindings are with extended quotas because
     DataSet proxy generates very large messages -->
    <bindings>
      <!-- TCP bindings for data and control connections -->
      <netTcpBinding>
        <!-- TCP binding for control connection (message size increased for large schemas) -->
        <binding name="sdsTcpControl" maxBufferSize="1024000" maxReceivedMessageSize="1024000">
          <security mode="None"/>
        </binding>
        <!-- TCP binding for data connection (streamed mode)-->
        <binding name="sdsTcpData" maxReceivedMessageSize="100000000" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>       
  </system.serviceModel> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
